<div class="container-fluid">
<div class="row">

  <div class="col-md-8">
<!-- 1.first card -->
    <div>
    <h2>
  <a>The most common mistakes when managing personal finances</a>
    </h2>
</div>
  

<div>
<span class="fa fa-calendar"></span>
</div>
            <div>
                    <a>
                        <img src="/assets/mt-0946-blog-img01.jpg">

                    </a>
              </div>


<div>
        <p>The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.</p>

</div>




<div>
  <button type="button" class="btn btn-primary">READ MORE</button>
</div>

            <div class="marg">
              <hr class="line">
            </div>


<!-- 2.second card -->

            <div>
              <h2>
            <a>Methods of the recruitment</a>
              </h2>
          </div>
            
          
          <div>
          <span class="fa fa-calendar"></span>
          </div>
                      <div>
                              <a>
                                  <img src="/assets/mt-0946-blog-img02.jpg">
          
                              </a>
                        </div>
          
          
          <div>
                  <p>Search of staff is not an easy task. According to the departmental heads' of personnel management words, in order to find a personnel who will correspond to the relevant customer needs and requirements, it is necessary to carry out a great job.</p>
          
          </div>
          
          
          
          
          <div>
            <button type="button" class="btn btn-primary">READ MORE</button>
          </div>
          
                      <div class="marg">
                        <hr class="line">
                      </div>


<!-- 3.third card -->

                      <div>
                        <h2>
                      <a>Overalls with logo as a method of advertising</a>
                        </h2>
                    </div>
                      
                    
                    <div>
                    <span class="fa fa-calendar"></span>
                    </div>
                                <div>
                                        <a>
                                            <img src="/assets/mt-0946-blog-img04.jpg">
                    
                                        </a>
                                  </div>
                    
                    
                    <div>
                            <p>Overalls bearing the company's logo are related to economy and practicality. A preference of corporate style involves a significant increase of costs for development of design solutions, customized tailoring, selection of necessary materials and so on.</p>
                    
                    </div>
                    
                    
                    
                    
                    <div>
                      <button type="button" class="btn btn-primary">READ MORE</button>
                    </div>
                    
                                <div class="marg">
                                  <hr class="line">
                                </div>



                             


             <!-- B) pagination                  -->

             <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>

            </div>
<!-- 4.sidebar cards -->

<div class="col-md-4">
  <!-- a.first card -->
  <div>
    <h2 class="side1">
  <a>Recent post</a>
    </h2>



    <div style="display:inline-block">
      <a class="dis">
        <img src="/assets/mt-0946-blog-img01 (1) small.jpg" class="image">
      </a>
</div>


<div>
  <h2 class="para">
<a>The most common mistakes when managing personal finances</a>
  </h2>
</div>




</div>


<!-- b.second card -->

 <div>
    



    <div style="display:inline-block">
      <a class="dis">
        <img src="/assets/mt-0946-blog-img02.jpg" class="image">
      </a>
</div>


<div>
  <h2 class="para">
<a>Methods of the recruitment</a>
  </h2>
</div>

</div>


<!-- c.third card -->
<div>
    



    <div style="display:inline-block">
      <a class="dis">
        <img src="/assets/mt-0946-blog-img04.jpg" class="image">
      </a>
</div>


<div>
  <h2 class="para">
<a>Overalls with logo as a method of advertising</a>
  </h2>
</div>

</div>


<!-- d.fourth card -->
<div>
    



    <div style="display:inline-block">
      <a class="dis">
        <img src="/assets/mt-0946-blog-img06 small 4.jpg" class="image">
      </a>
</div>


<div>
  <h2 class="para">
<a>The main objectives of the marketer</a>
  </h2>
</div>

</div>


<!-- e.fifth card -->


<div>
    



    <div style="display:inline-block">
      <a class="dis">
        <img src="/assets/mt-0946-blog-img08 small5.jpg" class="image">
      </a>
</div>


<div>
  <h2 class="para">
<a>Recession is a good opportunity to deal a deathblow to the competitors</a>
  </h2>
</div>

</div>








</div>



















         





</div>

</div>  
