<div class="container-fluid" style="margin-top:100px;">
  
  <div class="row">
  
    <div class="col-md-8" style="margin-left:30px;">
  <!-- 1.first card -->
  
  <app-jumb1></app-jumb1>
  <!-- 2.second card -->
  
            <app-jumb2></app-jumb2>
  
  
  <!-- 3.third card -->
  <app-jumb3></app-jumb3>
                      
  
  
               <!-- B) pagination                  -->
  
             <app-pagination></app-pagination>
             </div>
  <!-- 4.sidebar cards -->
  
  <div class="col-md-3" style="margin-left:40px;">
    
    <app-sjumb></app-sjumb>
  
  </div>  
  </div>
  </div>