<div>
  <h2>
<a>The main objectives of the marketer</a>
  </h2>
</div>


<div>
<span class="fa fa-calendar"></span>
</div>
          <div>
                  <a>
                      <img src="/codekul/routing/src/assets/mt-0946-blog-img06 small 4.jpg">

                  </a>
            </div>


<div>
      <p>The modern market is absolutely unpredictable. And yet it lives according to strict laws. The marketers need to be known to achieve maximum results in their business - that is the main task of the marketer.</p>

</div>




<div>
<button type="button" class="btn btn-primary">READ MORE</button>
</div>

          <div class="marg">
            <hr class="line">
          </div>

