<div class="card" style="width: 18rem ; moto-cell moto-widget moto-widget-row__column " data-container="container"
data-widget="row.column" style="" data-bg-position="left top">
<div data-widget-id="wid__image__5ab9ded1537b4" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
  data-widget="image" moto-widget-image-link>
    <img class="card-img-top" src="{{imgsrc}}" alt="Card image cap">
 
    <div class="moto-widget moto-widget-container moto-container_content_58fb91db10" data-widget="container"
    data-container="container" data-css-name="moto-container_content_58fb91db10" data-bg-position="left top">
    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
      data-widget="text" data-preset="default" data-spacing="smsm">
      <div class="moto-widget-text-content moto-widget-text-editable">
        <p style="text-align: center;" class="moto-text_system_13"><a href="#" target="_self"
            data-action="url" class="moto-link">{{cardttl}}</a><br></p>
        <p style="text-align: center;" class="moto-text_system_10"><span class="moto-color5_5"></span><span
            class="moto-color5_5">{{position}}</span><span class="moto-color5_5"></span><br></p>
      </div>
    </div>
  </div>
</div>
  </div>


  <!-- <div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container"
                  data-widget="row.column" style="" data-bg-position="left top">
                  <div data-widget-id="wid__image__5ab9ded1537b4" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
                    data-widget="image">
                    <span class="moto-widget-image-link">
                      <img data-src="/mt-demo/63400/63450/mt-content/uploads/2017/04/mt-0946-teams-img01.jpg" class="moto-widget-image-picture lazyloaded"
                        data-id="" title="" alt="" src="assets/mt-0946-teams-img01.jpg">
                    </span>
                  </div>
                  <div class="moto-widget moto-widget-container moto-container_content_58fb91db10" data-widget="container"
                    data-container="container" data-css-name="moto-container_content_58fb91db10" data-bg-position="left top">
                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
                      data-widget="text" data-preset="default" data-spacing="smsm">
                      <div class="moto-widget-text-content moto-widget-text-editable">
                        <p style="text-align: center;" class="moto-text_system_13"><a href="#" target="_self"
                            data-action="url" class="moto-link">{{cardttl}}</a><br></p>
                        <p style="text-align: center;" class="moto-text_system_10"><span class="moto-color5_5"></span><span
                            class="moto-color5_5">{{position}}</span><span class="moto-color5_5"></span><br></p>
                      </div>
                    </div>
                  </div>
                </div> -->

        