

    <a class="navbar-brand" href="/"><img class="d-inline-block align-left  mr-2 " src="assets/softonics logo.png" width="60" height="60">Softonis</a>

<nav class="navbar navbar-expand-lg navbar-light " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active mr-4" style="text-decoration-line: underline" href="#"  id="hm" [routerLink]="['home']">Home <span class="sr-only" >(current)</span></a>
      <a class="nav-item nav-link mr-4" href="#">Features</a>
      <a class="nav-item nav-link mr-4" href="#">Services</a>
      <a class="nav-item nav-link mr-4 " href="#">About</a>
      <a class="nav-item nav-link mr-4 " href="#">Team</a>
      <a class="nav-item nav-link mr-4" href="#">Careers</a>
      <a class="nav-item nav-link mr-4" href="#">Prices</a>
      <a class="nav-item nav-link mr-4" href="#">Blog</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>

</div>
</div>
</nav>

    <p>Copyright 2018 Softonis.All rights reserved. Designed by MotoCMS.com</p>
