

    <a class="navbar-brand" href="/"><img class="d-inline-block align-left  mr-2 " src="assets/softonics logo.png" width="60" height="60">Softonis</a>

<nav class="navbar navbar-expand-lg navbar-light " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active mr-4" href="#"  [routerLink]="['home']">Home </a>
      <a class="nav-item nav-link mr-4" href="#"[routerLink]="['features']">Features</a>
      <a class="nav-item nav-link mr-4" href="#"[routerLink]="['services']">Services</a>
      <a class="nav-item nav-link mr-4 " href="#"[routerLink]="['about']">about</a>
      <a class="nav-item nav-link mr-4 " href="#"[routerLink]="['team']">Team</a>
      <a class="nav-item nav-link mr-4" href="#" [routerLink]="['careers']">Careers</a>
      <a class="nav-item nav-link mr-4" href="#"[routerLink]="['prices']">Prices</a>
      <a class="nav-item nav-link mr-4" href="#"[routerLink]="['blog']">Blog</a>
      <a class="nav-item nav-link" href="#" [routerLink]="['contact']">Contact Us</a>

</div>
</div>
</nav>

    <p>Copyright 2018 Softonis.All rights reserved. Designed by MotoCMS.com</p>
