<div class="spac">

  <h2 style="text-align:center;" class="hea">
    <span class="cola">We are looking for people

    </span>
  </h2>
  <p style="text-align: center;" class="normal">&nbsp;</p>
  <p style="text-align: center;" class="normal">Connect with your clients in a different way</p>

</div>

<div class="container">
  <div style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-6">
          <div class="card" class="carback"> 
            <div class="card-body">
                <h3 class="card-title" class="carhead">
                    <a>Front End Developer </a>
                  </h3>
                  <p class="car">
                    <span class="sub">BUENOS AIRES</span>
                  </p>
                  <p>&nbsp;</p>
                  <p class="card-text">
                    <span class="para">We are seeking for an experienced dev with more than five years of work in the software industry.</span>
                  </p>
                  <a href="#" class="btn btn-primary">View Position</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" class="carback">
            <div class="card-body">
                <h3 class="card-title" class="carhead">
                    <a>Back End Developer</a>
                  </h3>
                  <p class="car">
                    <span class="sub">BUENOS AIRES</span>
                  </p>
                  <p>&nbsp;</p>
                  <p class="card-text">
                    <span class="para">Are you passionate about back end? Are you are a good specialist? Try yourself in our company and contact us now.</span>
                  </p>
                  <a href="#" class="btn btn-primary">View Position</a>
            </div>
          </div>
        </div>
      </div>  
    </div>




    <div style="margin-top:30px;">
        <div class="row">
            <div class="col-sm-6">
              <div class="card" class="carback">
                <div class="card-body">
                    <h3 class="card-title" class="carhead">
                        <a>Product Designer </a>
                      </h3>
                      <p class="car">
                        <span class="sub">BUENOS AIRES</span>
                      </p>
                      <p>&nbsp;</p>
                      <p class="card-text">
                        <span class="para">We hope to find a professional with own perspective on product design development.</span>
                      </p>
                      <a href="#" class="btn btn-primary">View Position</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" class="carback">
                <div class="card-body">
                  <h3 class="card-title" class="carhead">
                    <a>Project Manager </a>
                  </h3>
                  <p class="car">
                    <span class="sub">BUENOS AIRES</span>
                  </p>
                  <p>&nbsp;</p>
                  <p class="card-text">
                    <span class="para">Our ship is looking for a captain. We hire friendly managers that are aware of what the good team is.</span>
                  </p>
                  <a href="" class="btn btn-primary">View Position</a>
                </div>
              </div>
            </div>
          </div>  
        </div>
    
    








</div>