<!-- <div class="container-fluid">
  <div class="row">
<p style="text-align: center;" class="moto-text_system_9"><br></p>

<p style="text-align: center;" class="moto-text_system_9">{{header}}</p>

<p style="text-align: center;" class="moto-text_system_10">
{{msg}}</p>
</div>
</div> -->

<p style="text-align: center;" class="moto-text_system_9"><br></p>
<p style="text-align: center;" class="moto-text_system_9">General information</p>
<p style="text-align: center;" class="moto-text_system_10">Welcome to our Privacy Policy page! When you use our store services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>

