<div class="container">
    <div class="row">
        <div class="col-md-4">
          
            <div class="card" style="width:350px">
                <!-- <img class="img-fluid"  src="assets\mt-0946-blog-img01.jpg" alt="Chania"> -->
                <img class="card-img-top" src="assets\teams-img01.jpg" alt="Card image" style="width:100%;">
                <div class="card-body" style="background-color:#756aee">
                  <h4 class="card-title" style="text-align:center;color: white">Eugene Jensen</h4>

                    <h6 style="text-align:center;color: white">Web Developter</h6>  
                 
                </div>
            </div>
            </div>

              <div class="col-md-4">
          
                  <div class="card" style="width:350px">
                      <!-- <img class="img-fluid"  src="assets\mt-0946-blog-img01.jpg" alt="Chania"> -->
                      <img class="card-img-top" src="assets\teams-img02.jpg" alt="Card image" style="width:100%;">
                      <div class="card-body" style="background-color:#756aee">
                          <h4 class="card-title" style="text-align:center;color: white">Eugene Jensen</h4>

                          <h6 style="text-align:center;color: white">Web Developter</h6> 
                       
                      </div>
                    </div>
                    </div>


                    <div class="col-md-4">
          
                        <div class="card" style="width:350px">
                            <!-- <img class="img-fluid"  src="assets\mt-0946-blog-img01.jpg" alt="Chania"> -->
                            <img class="card-img-top" src="assets\teams-img03.jpg" alt="Card image" style="width:100%;">
                            <div class="card-body" style="background-color:#756aee">
                                <h4 class="card-title" style="text-align:center;color: white">Eugene Jensen</h4>

                                <h6 style="text-align:center;color: white">Web Developter</h6> 
                             
                            </div>
                          </div>
                          </div>
    </div>
</div>