<div>
  <h2 class="side1">
<a>Recent post</a>
  </h2>



  <div style="display:inline-block">
    <a class="dis">
      <img src="/assets/mt-0946-blog-img01 (1) small.jpg" class="image">
    </a>
</div>


<div>
<h2 class="para">
<a>The most common mistakes when managing personal finances</a>
</h2>
</div>




</div>


<!-- b.second card -->

<div>
  



  <div style="display:inline-block">
    <a class="dis">
      <img src="/assets/mt-0946-blog-img02.jpg" class="image">
    </a>
</div>


<div>
<h2 class="para">
<a>Methods of the recruitment</a>
</h2>
</div>

</div>


<!-- c.third card -->
<div>
  



  <div style="display:inline-block">
    <a class="dis">
      <img src="/assets/mt-0946-blog-img04.jpg" class="image">
    </a>
</div>


<div>
<h2 class="para">
<a>Overalls with logo as a method of advertising</a>
</h2>
</div>

</div>


<!-- d.fourth card -->
<div>
  



  <div style="display:inline-block">
    <a class="dis">
      <img src="/assets/mt-0946-blog-img06 small 4.jpg" class="image">
    </a>
</div>


<div>
<h2 class="para">
<a>The main objectives of the marketer</a>
</h2>
</div>

</div>


<!-- e.fifth card -->


<div>
  



  <div style="display:inline-block">
    <a class="dis">
      <img src="/assets/mt-0946-blog-img08 small5.jpg" class="image">
    </a>
</div>


<div>
<h2 class="para">
<a>Recession is a good opportunity to deal a deathblow to the competitors</a>
</h2>
</div>

</div>





