<section id="section-content" class="content page-13 moto-section" data-widget="section" data-container="section">
  <div class="moto-widget moto-widget-block moto-bg-color5_5 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
    data-spacing="lala" data-widget="block" style="" data-bg-position="left top">
    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12" data-container="container">
          <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
            data-widget="text" data-preset="default" data-spacing="asss" data-animation="">
            <div class="moto-widget-text-content moto-widget-text-editable">
              <h2 style="text-align: center;" class="moto-text_system_6"><span class="moto-color2_3">{{teamTtl}}</span></h2>
              <p style="text-align: center;" class="moto-text_normal">&nbsp;</p>
              <p style="text-align: center;" class="moto-text_normal">{{teamsubttl}}</p>
            </div>
          </div>



          <div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
            <div class="container-fluid">
              <div class="row" data-container="container">


                
                  <app-team-cards [cardttl]="'Eugene Jensen'" [position]="'Web Developer'" [imgsrc]="'assets/mt-0946-teams-img01.jpg'" ></app-team-cards>
                  <app-team-cards [cardttl]="'Ronald Spencer'" [position]="'Web Developer'" [imgsrc]="'assets/mt-0946-teams-img02.jpg'" ></app-team-cards>
                  <app-team-cards [cardttl]="'Justin Mills'" [position]="'Web Developer'" [imgsrc]="'assets/mt-0946-teams-img03.jpg'" ></app-team-cards>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <div class="moto-widget moto-widget-block moto-bg-color5_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
    data-widget="block" data-spacing="lala" style="" data-bg-position="left top">


    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12" data-container="container">


          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
            data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


            <div class="container-fluid">
              <div class="row" data-container="container">


                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                  style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                  <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                      <h2 style="text-align: center;" class="moto-text_system_7">Frequently Asked Questions</h2>
                    </div>
                  </div>



                  <div data-widget-id="wid_1522130802_c3og6xgz8" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  "
                    data-widget="divider_horizontal" data-preset="default">
                    <hr class="moto-widget-divider-line" style="max-width:100%;width:5%;">
                  </div>


                </div>



              </div>
            </div>
          </div>



          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
            data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


            <div class="container-fluid">
              <div class="row" data-container="container">


                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                  style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                </div>




                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                  style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                  <div data-widget-id="wid_1522130802_3lgyctsww" class="moto-widget moto-widget-accordion moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto   moto-disabling_row-fixed row-gutter-0"
                    data-widget="accordion" data-preset="default" data-close-others="">
                    <div class="moto-widget-accordion__wrapper">
                      <div data-widget-id="wid_1522130802_ibjfo1bc0" class="moto-widget moto-widget-accordion__item moto-widget-accordion__item_collapse-icon-right  moto-widget-accordion__item_open"
                        data-widget="accordion.item">
                        <div class="moto-widget-accordion__header" data-widget-id="wid_1522130802_ibjfo1bc0">
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__header-title">HOW TO
                            UPLOAD MY TEMPLATE TO HOSTING?</span>
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__collapse-icon fa fa-fw"
                            aria-hidden="true"></span> </div>
                        <div class="moto-widget-accordion__content-wrapper" style="display: block;">
                          <div class="moto-widget-accordion__content">
                            <div data-widget-id="wid_1522130802_v3rn46lzx" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                              data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                              <div class="moto-widget-text-content moto-widget-text-editable">
                                <p class="moto-text_system_10">First, ask your hosting provider whether the company
                                  supports your website system requirements or not.</p>
                              </div>
                            </div>
                            <div data-widget-id="wid_1522130802_yxjt2m7hx" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
                              data-widget="divider_horizontal" data-preset="default">
                              <hr class="moto-widget-divider-line" style="max-width:100%;width:8%;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div data-widget-id="wid_1522130802_5yfd4ngjv" class="moto-widget moto-widget-accordion__item moto-widget-accordion__item_collapse-icon-right "
                        data-widget="accordion.item">
                        <div class="moto-widget-accordion__header" data-widget-id="wid_1522130802_5yfd4ngjv">
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__header-title">WHERE IS
                            LOCATED THE DOCUMENTATION?</span>
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__collapse-icon fa fa-fw"
                            aria-hidden="true"></span> </div>
                        <div class="moto-widget-accordion__content-wrapper" style="display: none;">
                          <div class="moto-widget-accordion__content">
                            <div data-widget-id="wid_1522130802_wj8a48tqh" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                              data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                              <div class="moto-widget-text-content moto-widget-text-editable">
                                <p class="moto-text_system_10">All documentation is provided on our website. You will
                                  find your answer on any possible issue there.</p>
                              </div>
                            </div>
                            <div data-widget-id="wid_1522130802_t7gvc52uk" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
                              data-widget="divider_horizontal" data-preset="default">
                              <hr class="moto-widget-divider-line" style="max-width:100%;width:8%;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div data-widget-id="wid_1522130802_kbe2t6kq0" class="moto-widget moto-widget-accordion__item moto-widget-accordion__item_collapse-icon-right "
                        data-widget="accordion.item">
                        <div class="moto-widget-accordion__header" data-widget-id="wid_1522130802_kbe2t6kq0">
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__header-title">HOW DO I
                            PAY FOR THIS?</span>
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__collapse-icon fa fa-fw"
                            aria-hidden="true"></span> </div>
                        <div class="moto-widget-accordion__content-wrapper" style="display: none;">
                          <div class="moto-widget-accordion__content">
                            <div data-widget-id="wid_1522130802_qr2zeewpb" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                              data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                              <div class="moto-widget-text-content moto-widget-text-editable">
                                <p class="moto-text_system_10">You pay only after we do our job. We guarantee you 100%
                                  successful results. Otherwise, we will return your money.</p>
                              </div>
                            </div>
                            <div data-widget-id="wid_1522130802_0lafw38gs" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
                              data-widget="divider_horizontal" data-preset="default">
                              <hr class="moto-widget-divider-line" style="max-width:100%;width:8%;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div data-widget-id="wid_1522130802_jav7ll00p" class="moto-widget moto-widget-accordion__item moto-widget-accordion__item_collapse-icon-right "
                        data-widget="accordion.item">
                        <div class="moto-widget-accordion__header" data-widget-id="wid_1522130802_jav7ll00p">
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__header-title">WHAT
                            TECHNOLOGIES DO WE USE?</span>
                          <span class="moto-widget-accordion__header-item moto-widget-accordion__collapse-icon fa fa-fw"
                            aria-hidden="true"></span> </div>
                        <div class="moto-widget-accordion__content-wrapper" style="display: none;">
                          <div class="moto-widget-accordion__content">
                            <div data-widget-id="wid_1522130802_o03g79y97" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                              data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                              <div class="moto-widget-text-content moto-widget-text-editable">
                                <p class="moto-text_system_10">Only the latest ones. No cheat. Thanks to our leading
                                  professionals who know their job, we bring your only up-to-date technologies.</p>
                              </div>
                            </div>
                            <div data-widget-id="wid_1522130802_bseqw40o7" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
                              data-widget="divider_horizontal" data-preset="default">
                              <hr class="moto-widget-divider-line" style="max-width:100%;width:8%;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>




                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                  style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                </div>



              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

 <!-- <div class="row">
<app-team-cards [cardttl]="'Rahul'"[age]=25></app-team-cards>
<app-team-cards [cardttl]="'Sambhaji'"[age]=26></app-team-cards>
<app-team-cards [cardttl]="'Mohite'" [age]=27></app-team-cards>
</div> -->