&nbsp;
<div>
  <h1 style="text-align:center;font:200;color: #41405a;font-style:normal;font-size: 50px;font-weight: 300;font-style:initial;font-family: 'Times New Roman', Times, serif;line-height: 1;">Contact Information</h1>
</div>
<p>&nbsp;</p>
<p style="text-align:center;font-size:18px;color:#86899c;font-family: sans-serif;">Connect with your clients in a different way</p>



<div class="container">
<div class="row">
  <div class="col-md-3">
    <span>
        <i class="material-icons" style="font-size:66px;color:#756aee;">location_on</i>
        <h4 style="color: #41405a;">Address</h4>&nbsp;
        <p style="color:#86899c">2130 Fulton Street San Diego, CA 94117-1080 USA</p>
    </span>
    
  </div>
  <div class="col-md-3">
    <span>
        <i class="material-icons" style="font-size:66px;color:#756aee;margin-right: 20px;">phone</i>
      <h4 style="color: #41405a;">Phone</h4>&nbsp;
      <p style="color:#86899c">+1(800)123-4567<br>
          +1(800)123-4566</p>  
    </span>
    
    
  </div>
  <div class="col-md-3">
    <span>
    <i class="material-icons" style="font-size:66px;color:#756aee">email</i>
    <h4 style="color: #41405a;">Email</h4>&nbsp;
    <p style="color:#86899c">info@yoursite.com<br>
        www.yoursite.com</p>
  </span>
  </div>
  <div class="col-md-3">
    <span>
      <i class="material-icons" style="font-size:66px;color:#756aee">access_time</i>
      <h4 style="color:#3e3d46;text-align: left;">Opning hours</h4>&nbsp;
      <p style="color:#86899c">Mon-Sun: 7am - 7pm</p>
    </span>
    
  </div>
</div>
</div>




                                                    



