.btn1{
  
    background-color:transparent;
  color:white;
  border-color: #756aee;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  margin-left:470px;
  box-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
    font-style: normal;
    min-width: 180px;
    padding: 18.5px;
    transition: all .3s;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
}

 .btn1:hover {
  
    margin-left:470px;
    box-align: center;
    color:blue;
    background-color: white; 
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    
    border-color: #756aee;
    min-width: 180px;
    padding: 18.5px;
    transition: all .3s;
    line-height: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}