<div class="row">
 <!-- <col-md-12>
   <app-navbar></app-navbar>
 </col-md-12> -->
  

   <div class="jumbotron" class="d1">

      
      <div class=".container">

        <div class="row">

          <div class="col-md-12">
              <h1 class="h">Unleash the Power in Every Team</h1>
              <p class="moto-text_normal">
                    <span class="moto-color1_3">
                        From medicine and space travel to disaster response robots, our products help teams all over the planet <br>
                      advance humanity through the power of software.</span>
              </p>
            </div>
              </div>
              </div>
              </div>
            

          
          <!-- <app-btn-learnmore></app-btn-learnmore> -->
        
         
          
    
      
      
      
     
    
<!-- <div class="col-md-12">
  <app-footer></app-footer>
</div> -->


