.h{

    margin-top: 50px;
    
    
        font-weight: 300;
        font-style: normal;
        font-family: 'Work Sans', sans-serif;
        color:black;
        font-size: 50px;
        line-height: 1.1;
        letter-spacing: 0px;
        text-align: center;
    

}


.moto-text_normal {
    font-weight: 400;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
    color: #86899c;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 20px;
}

.moto-color1_3 {
    color: #b9b7df;
}

.btnlearnMore{

    border: 1px solid #337ab7;

}
