<<<<<<< HEAD
h1 {
    font-weight: 400;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
    color:white;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 50px;
    }

    h5{
    color: #b9b7df;
    font-weight: 400;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
=======
.h{

    margin-top: 50px;
    
    
        font-weight: 300;
        font-style: normal;
        font-family: 'Work Sans', sans-serif;
        color:black;
        font-size: 50px;
        line-height: 1.1;
        letter-spacing: 0px;
        text-align: center;
    

}


.moto-text_normal {
    font-weight: 400;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
    color: #86899c;
>>>>>>> d5163f4eaef67cf93a5ede9427a00f4e26e1e050
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
<<<<<<< HEAD
    }
    
    /* .container{
        padding-top: initial;
        
    } */
    

    
   
=======
    margin-top: 20px;
}

.moto-color1_3 {
    color: #b9b7df;
}

.btnlearnMore{

    border: 1px solid #337ab7;

}
>>>>>>> d5163f4eaef67cf93a5ede9427a00f4e26e1e050
