
<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
  
  <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable">
        <h3 style="text-align: center;" class="moto-text_system_9">
            <a target="_self" data-action="url" class="moto-link" href="#">{{header}}</a>
        </h3>
        <p style="text-align: center;" class="moto-text_system_10">{{msg}}</p>
    </div>
  </div>
</div>


