
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#36306e;">
    <a class="navbar-brand" href="#"><img src="assets\softonis-logo.png"><span class="bold" style="padding-left:10px;">Softonis</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="height:130px;background-color:#36306e;margin-right: 20px;">
      <ul class="navbar-nav mr-auto" style="margin-right:10px;" >
        <li class="nav-item active">
          <a  class="nav-link  mr-4"  [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        
       
        </li>
        <li class="nav-item">
          <a class="nav-link mr-4" href="#">Features</a>
        </li>
        



        <li class="nav-item">
          <a class="nav-link  mr-4" [routerLink]="['Services']">Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mr-4" [routerLink]="['About']">About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mr-4" [routerLink]="['team']">Team
          </a>
        </li>

        <li class="nav-item  mr-4">
          <a class="nav-link" [routerLink]="['Careers']">Careers

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-4" [routerLink]="['pricing']">Pricing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  mr-4" [routerLink]="['Blog']">    Blog

          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">Contactus

          </a>
        </li>

  

      </ul>
      
    </div>
  </nav>
