<div>
<img src="assets/softonics logo.png"  href="#" width="90" height="90" style="margin-left: 100px;
margin-top: 100px;margin-bottom: 100px;">
<img src="assets/softonics logo.png" href="#" width="90" height="90" style="margin-left: 120px;
margin-top: 100px; margin-bottom: 100px;">
<img src="assets/softonics logo.png" href="#" width="90" height="90" style="margin-left: 120px;
margin-top: 100px;margin-bottom: 100px;">
<img src="assets/softonics logo.png" href="#" width="90" height="90" style="margin-left: 120px;
margin-top: 100px;margin-bottom: 100px;">
<img src="assets/softonics logo.png" href="#" width="90" height="90" style="margin-left: 120px;
margin-top: 100px;margin-bottom: 100px;">
<img src="assets/softonics logo.png" href="#" width="90" height="90" style="margin-left: 120px;
margin-top: 100px;margin-bottom: 100px;">
</div>