<!-- <div class="moto-widget-text-content">
        <h1 style="text-align: center;" class="moto-text_system_6">
            <span class="moto-color2_3">Making your site engage more people</span>
        </h1>
        <p style="text-align: center;" class="moto-text_normal">&nbsp;</p>
        <p style="text-align: center;" class="moto-text_normal">Connect with your clients in a different way</p>
    </div>
    
    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
        <div class="moto-widget-text-content">
            <h2 style="text-align: center;" class="moto-text_system_7">Get Amazing Product with an Excellent Service</h2>
        </div>
    </div>
    
    <div class="moto-widget moto-widget-divider moto-preset-default moto-align-center ">
        <hr class="moto-widget-divider-line" style="max-width:100%;width:5%;">
    </div>
    
    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
        <div class="moto-widget-text-content moto-widget-text-editable">
            <p style="text-align: center;" class="moto-text_normal">Partnership or temporary organization perfectly designed.</p>
        </div>
    </div>
    <div class="container">
        
       <div class="row">
        <div class="col-md-4">
            <div data-widget-id="wid__image__5ab9d9189577b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
            <span class="moto-widget-image-link"><img src="assets/icons01.png" height="70px" width="70px"> </span>
            </div>
                  
            <app-img [header]="'Answering Services'" [msg]="'We provide the best software for your customer support to reply your clients fast and with no efforts'"></app-img>  
        </div>
    
         <div class="col-md-4">
            <div data-widget-id="wid__image__5ab9d9189577b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
            <span class="moto-widget-image-link"><img src="assets/icons02.png" height="70px" width="70px"> </span>
            </div>
            <app-img [header]="'Call Center Solution'" [msg]="'Thanks to our soft, your call center will succeed in getting new clients and creating a friendly atmosphere of communication.'"></app-img> 
         </div>
    
         <div class="col-md-4">
            <div data-widget-id="wid__image__5ab9d9189577b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
            <span class="moto-widget-image-link"><img src="assets/icons03.png" height="70px" width="70px"> </span>
            </div>
             
            <app-img [imgsrc]="'assets/icons03.png'" [header]="'Upload Data'" [msg]="'Special software for uploading data developed by our team has no analogues in the entire IT community all over the world.'"></app-img> 
         </div>
      </div>
    </div>
     -->

<section id="section-content" class="content page-12 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-spacing="aaaa" data-widget="block" style="" data-bg-position="left top"><div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                <div data-widget-id="wid__spacer__5ab9d91893e7b" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
<div class="moto-widget-spacer-block" style="height:25px"></div>
</div>

<div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
    <div class="container-fluid">
        <div class="row" data-container="container">
            <div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
    <h1 style="text-align: center;" class="moto-text_system_6"><span class="moto-color2_3">Making your site engage more people</span></h1>
    
    <p style="text-align: center;" class="moto-text_normal">&nbsp;</p>
    <p style="text-align: center;" class="moto-text_normal">Connect with your clients in a different way</p>
</div>
</div>

<div data-widget-id="wid__spacer__5ab9d918940c1" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-widget="spacer" data-preset="default" data-spacing="masa" data-visible-on="mobile-v">
<div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
    <h2 style="text-align: center;" class="moto-text_system_7">Get Amazing Product with an Excellent Service</h2><br>
</div>
</div>
<div data-widget-id="wid__divider_horizontal__5ab9d91894931" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
<hr class="moto-widget-divider-line" style="max-width:100%;width:7%;">
</div>

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
    <div class="moto-widget-text-content moto-widget-text-editable">
        <p style="text-align: center;" class="moto-text_normal">Partnership or temporary organization perfectly designed.</p>
    </div>
</div>
</div>
</div></div></div>

<div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
    <div class="container-fluid">
        <div class="row" data-container="container">
            <div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                <div data-widget-id="wid__image__5ab9d91895473" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
<span class="moto-widget-image-link">
<img src = "\assets\icons01.png">
</span>
</div>
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
    <h3 style="text-align: center;" class="moto-text_system_9">
        <a target="_self" data-action="url" class="moto-link" href="#">Answering Services</a></h3>
        
        <p style="text-align: center;" class="moto-text_system_10">We provide the best software for your customer support to reply your clients fast and with no efforts</p>
    </div>
</div></div>

<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
    <div data-widget-id="wid__image__5ab9d9189577b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
<span class="moto-widget-image-link">
<img src="\assets\icons02.png">
</span>
</div>
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
    <h3 style="text-align: center;" class="moto-text_system_9">
        <a target="_self" data-action="url" class="moto-link" href="#">Call Center Solutions</a></h3>
        <p style="text-align: center;" class="moto-text_system_10">Thanks to our soft, your call center will succeed in getting new clients and creating a friendly atmosphere of communication.</p>
    </div>
</div></div>

<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
    <div data-widget-id="wid__image__5ab9d91895a58" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
<span class="moto-widget-image-link">
<img src="\assets\icons03.png">
</span>
</div>
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
    <h3 style="text-align: center;" class="moto-text_system_9">
        <a target="_self" data-action="url" class="moto-link" href="#">Upload Data</a></h3>
        
        <p style="text-align: center;" class="moto-text_system_10">Special software for uploading data developed by our team has no analogues in the entire IT community all over the world.</p></div>
</div></div></div></div></div>

<div data-widget-id="wid__spacer__5ab9d91895d00" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
<div class="moto-widget-spacer-block" style="height:25px"></div>
</div></div></div></div></div>
                    
</section>  