<div>
  <h2>
<a>Methods of the recruitment</a>
  </h2>
</div>


<div>
<span class="fa fa-calendar"></span>
</div>
          <div>
                  <a>
                      <img src="/assets/mt-0946-blog-img02.jpg">

                  </a>
            </div>


<div>
      <p>Search of staff is not an easy task. According to the departmental heads' of personnel management words, in order to find a personnel who will correspond to the relevant customer needs and requirements, it is necessary to carry out a great job.</p>

</div>




<div>
<button type="button" class="btn btn-primary">READ MORE</button>
</div>

          <div class="marg">
            <hr class="line">
          </div>
