

<div class="container-fluid"style="background-color: #434f53;padding-bottom: 30px; background-image: url(/assets/homeBackground.jpg);background-position: top;
background-repeat: no-repeat;
background-size: cover; width:100%;
 height: 150px;margin-left: none;">
<div class="row" >
  <div class="col-md-12">
  <app-navbar></app-navbar>
  </div>
</div>
</div>



<router-outlet></router-outlet>

<div class="container-fluid" style="width:100%">
<div class="row" style="background: #22253c">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
  </div>



