/* .moto-back-to-top-button.moto-back-to-top-button_visible {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);

}
.moto-back-to-top-button {
    position: fixed;
    
    cursor: pointer;
    z-index: 500;
}
.animated {
    
    animation-fill-mode: both;
}
.moto-back-to-top-button .moto-back-to-top-button-link {
    display: inline-block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
}

.moto-back-to-top-button .moto-back-to-top-button-link .moto-back-to-top-button-icon:before {
    content: "\f106";
}
*, :after, :before {
    box-sizing: inherit;
}

.moto-back-to-top-button {
 
  right: 40px;
  bottom: 40px;
  transition: .3s;
}
.moto-back-to-top-button.moto-back-to-top-button_visible {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.moto-back-to-top-button .moto-back-to-top-button-link {
  width: 60px;
  height: 60px;
  font: 700 30px/53px 'FontAwesome';
  border-radius: 8px;
  text-align: center;
  transition: .3s;
}

.moto-back-to-top-button .moto-back-to-top-button-link:hover {
  color: #e22c2c;
  background: #9895d0;
}
.moto-back-to-top-button .moto-back-to-top-button-link{
    color: aliceblue;
} */